.checkout-side-menu {
    width: 360px;
    min-height: calc(100vh - 68px);
    max-height: 80vh; /* Cambia la altura máxima según tus necesidades */
    top: 68px;
   
}

.cart-container{
   
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
